.item-image {
  max-height: 200px;
  width: 100px;
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  margin-left: 2%;
  padding-bottom: 2%;
}
.item-info {
  margin-left: 20px;
}
