.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-header {
  margin: 0;
}

.login-container {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.login-sign-in-button {
  color: #111;
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  height: 30px;
}

.login-register-button {
  color: #111;
  background: #dcdcdc;
  border: 1px solid;
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  height: 30px;
}

.login-register-button:hover {
  background-color: #bebebe;
}
M .login-container > form > h5 {
  margin-bottom: 5px;
}

.login-container > form > input {
  margin-bottom: 10px;
  height: 30px;
  background-color: white;
  width: 99%;
}

.login-container > form > p {
  margin-top: 15px;
  font-size: 12px;
}
